body {font-family:Arial, Helvetica, sans-serif;font-size:20px;
text-align:left;margin:0px;text-align:justify;
color:rgb(255, 255, 255);background-color:rgb(0, 0, 0);}

header {font-size:40px;font-family:georgia;text-align:center;
padding:20px;background-image:url('images/image\ 05.jpeg');
color:#000000;}

.section01{margin:0%;}
.nav01{margin:0%;display:flex;gap:40px;justify-content:center;background-color:rgb(21, 133, 36);
padding:30px;color:#000000;font-size:30px;}
.nav01 div:hover{color:rgb(21, 133, 36);background-color: black;border-radius:5px;}
.nav02 {margin:0%;}

.footer01{padding: 20px;text-align:center;
line-height:1.6em;background-image:url('images/image\ 05.jpeg');}
.footer02{display:flex;gap:20px;justify-content:center;}

section {margin:50px;}

h2 {color:blueviolet;}
