body {
  font-family:Arial, Helvetica, sans-serif;font-size:16px;margin: 30px;
  text-align:left;text-align:justify;
  color:#44a044;background-color:#000000;
}

header{
  border-radius: 20px;box-shadow: 0 2px 4px 0 #44a044,0 4px 8px 0 #44a044;text-align: center;padding: 20px;  animation: ishift 21s ease-in-out infinite alternate;background-size: cover; background-position:center;
}

nav{
  display: flex; gap: 5px;flex-wrap: wrap;margin: auto;justify-content: center;
}

nav::-webkit-scrollbar{
  display: none;
}

nav a {
  padding: 20px;text-decoration: none;font-weight: bold; color: #44a044; white-space: nowrap; 
}

nav a:hover{
  border-radius: 20px; box-shadow: 0 2px 4px 0 #44a044 ,0 4px 8px 0 #44a044; justify-content: center;
}

@keyframes ishift {
  0%{background-image:url('k-drama/dear\ hongrang.webp');}
  25%{background-image:url('k-drama/hyper\ knife.jpeg');}
  50%{background-image:url('k-drama/undercover.jpg');}
  75%{background-image:url('k-drama/weak\ hero.webp');}
  100%{background-image:url('k-drama/karma.jpg');}
}

footer{
  border-radius: 20px; box-shadow:0 2px 4px 0 #44a044 ,0 4px 8px 0 #44a044; text-align: center;padding: 20px;
}

footer div{display: flex; gap: 10px;justify-content: center;
}

.about{
  text-decoration: none;color: #44a044;
}




video{
  width :50%; height:35%;
}

h2 a{
   color: #44a044; text-decoration: none;float: right;
}

.post-grp{
  display: flex; gap: 30px;overflow: auto;
}

.post-grp::-webkit-scrollbar{
  display: none;
}

.post{
  width: 200px;height: 300px;border-radius: 20px;
}

.post-caption{
  display: block;
}

figcaption{
  text-align: center;
}
