body {font-family:Arial, Helvetica, sans-serif;font-size:20px;
text-align:left;margin:0px;text-align:justify;
color:rgb(255, 255, 255);background-color:rgb(0, 0, 0);}

header {font-size:130px;font-family:georgia;text-align:center;
animation-name:non;animation-duration:10s; padding:100px;
background-size:cover;background-position:center;
color:#0ebb08;margin:0px;animation-iteration-count:infinite;animation-timing-function:linear;
text-shadow:1px 1px 0 #3f943c, 2px 2px 0 #3f943c,3px 3px 0 #3f943c, 4px 4px 0 #3f943c, 5px 5px 0 #3f943c;}

@keyframes non {
0%{background-image:url('tv-series/severance.webp');}
33%{background-image:url('k-drama/dear\ hongrang.webp');}
66%{background-image:url('k-drama/hyper\ knife.jpeg');}
100%{background-image:url('k-drama/karma.jpg');}}

h1{color:#0ebb08}
h2{color:#0ebb08}

.section01{margin:0%;}
.nav01{display:flex;background-color:rgb(21, 133, 36);
padding:10px;color:#000000;font-size:30px;overflow:auto;gap:10px;}
.nav01::-webkit-scrollbar{display:none;}
.nav01 a:hover{color:#0ebb08;background-color: rgb(0, 0, 0);gap:30px;border-radius:10px;
box-shadow:0 4px 6px 0 rgb(0, 0, 0, 0.1), 0 6px 20px 0 rgb(0, 0, 0, 0.15);}

.h1a {text-decoration:none;white-space:nowrap;color:rgb(0, 0, 0);padding:40px 40px;}
.h1b {margin-left:100px;text-decoration:none;white-space:nowrap;color:rgb(0, 0, 0);padding:40px 40px;}

.footer01{text-align:center;color:rgb(0, 0, 0);padding:30px;margin:0px;
line-height:1.6em;background-color:rgb(21, 133, 36);line-height:1.5em;}
.footer02{display:flex;gap:20px;justify-content:center;}

section {margin:30px;}

h2 a {text-decoration:none;color:rgb(15, 255, 7);float:right;}


.post01{max-width:300px;height:400px;border-radius:10px;}
.post{display:grid;grid-template-columns: repeat(4,2fr); gap:10px;}
figcaption{text-align:center;line-height:1.8em;color:#0ebb08}
